# Compiled Objects:
*.slo
*.lo
*.o

# Compiled Dynamic Libraries
*.so
*.dylib

# Compiled Static Libraries
*.lai
*.la
*.a

# Binary
Jack_The_Janitor

# Text editor backup files
*~
*.swp
*.swo

# Autotools
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.h
config.h.in
config.log
config.status
configure
depcomp
install-sh
missing
*\.deps
jackthejanitor
stamp-h1

#game screenshot
screenshot.bmp

init_screen.wav